<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="styling/styles.css">
    <link rel="stylesheet" href="styling/restaurent.css">
</head>
<body>
    <aside>
        <div id="up">
            <a href="/"><h2 id="eat">Eatwell</h2></a>
            <div id="upin">
                <a href="/restaurant">Browse Restaurants</a>
                <a href="/share">Share a restaurant</a>
                <a href="/about">About Eatwell</a>
            </div>
        </div>
    </aside>
    <main>
        <h1>Recommended Restaurants</h1>
        <p>Find Your next favorite restaurants with the help of our other users!</p>
        <p>We Found <%= X %> Restaurants.</p>
        <% restaurants.forEach((restaurant, index) => { %>
            <div key="<%= index %>">
                
                <h2><%= restaurant.rname %></h2>
                
                <p><%= restaurant.Adr %></p>
                
                <h3><%= restaurant.csnie %></h3>
       
                <a href="<%= restaurant.web %>">View website</a>
                <h4>Why do you recommend it?</h4>
                <p><%= restaurant.red %></p>
            </div>
        <% }); %>
    </main>
</body>
</html>
